<div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="card shadow-lg border-0 rounded-lg mt-5">
          <div class="header">
            SMS Details
          </div>
          <div class="card-body">
              <div>From: <p>{{ sms.from }}</p></div>
              <div>To: <p>{{ sms.to }}</p></div>
              <div>Status: <p>{{ sms.status }}</p></div>
              <div>Content: <p>{{ sms.content }}</p></div>
          </div>
        </div>
      </div>
    </div>
  </div>