.header {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
}

.errorMessage {
    font-size: 16px;
    color: red;
    font-weight: 600;
}

.successMessage {
    font-size: 16px;
    color: green;
    font-weight: 600;
}